@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
}

/* Banner image by AltumCode - Unsplash */
.bg-banner-light {
  background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.95) 10%,
      rgba(0, 0, 0, 0.75)
    ),
    url(../assets/banner-image.jpg);
  @apply bg-top bg-[length:100%] bg-no-repeat;
}

.bg-banner-dark {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)),
    url(../assets/banner-image.jpg);
  @apply bg-top bg-[length:100%] bg-no-repeat;
}

/* Swiper */
.swiper-button-next::after,
.swiper-button-prev::after {
  text-shadow: 1px 1px 10px black;
}

/* Author Footer */
.bot-footer {
  @apply w-full text-center py-3 flex items-center justify-center;
}

.bot-footer .author-credits {
  @apply inline-block rounded-md px-2 py-1 ml-1 text-black;
  background-color: #e6e6e6;
  transition: background-color 0.3s, color 0.3s;
}

.author-contact {
  @apply flex items-center;
}

.bot-footer .author-credits:hover {
  background-color: #555;
  color: white;
}

.bot-footer .author-credits:hover img {
  filter: invert(100%) sepia(1%) saturate(439%) hue-rotate(235deg)
    brightness(120%) contrast(100%);
}

@media (max-width: 768px) {

  /* Video Table */
  #video-table td:nth-child(1) ~ td,
  #video-table th:nth-child(1) ~ th {
    display: none;
  }

  #video-table td:nth-child(4),
  #video-table th:nth-child(4){
    display: table-cell !important;
  }

  #video-table td:nth-child(5) ~ td,
  #video-table th:nth-child(5) ~ th {
    display: table-cell;
  }

  /* Category Table */
  #category-table td:nth-child(1) ~ td,
  #category-table th:nth-child(1) ~ th {
    display: none;
  }

  #category-table td:nth-child(5) ~ td,
  #category-table th:nth-child(5) ~ th {
    display: table-cell;
  }
}
